<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="main">
      <a href="https://github.com/login/oauth/authorize?client_id=<%= ENV["CLIENT_ID"] %>&scope=repo">Login with GitHub</a><br>
    </div>
    <div class="comments">
      <% @comments.each do |comment| %>
        <%= comment.author %>
        <%= comment.body %>
        <%= comment.created_at.to_date %>
      <% end %>
    </div>
  </body>
</html>
