<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="title box-1">
      <div class="glitch-animation" title="Under Construction">
        Under Construction
      </div>
      <div class="info">
        Recently, I've gained access to the beta for <a href="https://beta.openai.com/docs/introduction/key-concepts" target="_blank">OpenAI's API</a> and would like to eventually incorporate it into my portfolio, though it does seem limited in functionality.
      </div>
    </div>
  </body>
</html>
