<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="container content">
      <div class="d-flex p-2">
        <div class="subtitle">
          Under Construction
          <div class="info">
            Recently, I've gained access to the beta for <a href="https://beta.openai.com/docs/introduction/key-concepts" target="_blank">OpenAI's API</a> and would like to tinker around with it, and possibly incorporate it into my own portfolio. However, based on the documentation, the public version does appear to be limited on functionality.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
