<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DavidTTran</title>
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="welcome">
      Welcome <%= @visitor.current_user.username %>!
      <%= @visitor.count_of_visitors %> unique visitors.
    </div>

    <img src="/assets/d20.gif" id="background-image">
    <div class="notice glitch-animation" title="Under Construction">Under Construction</div>
    <div class="info">
      First and foremost - I'm a backend engineer.. I can (and have) spent hours fiddling with CSS for lackluster results. So, instead, I implemented some functionality.
    </div>
  </body>
</html>
