<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="container">
      <div class="title box-1">
        About Me
        <div class="info">
          My name is David Tran, a first generation Asian American. I have a wide variety of interests ranging from cooking, snowboarding, welding, gaming, and hundreds of other things that I want to eventually pick up.
        </div>
      </div>
      <div class="title box-2">
        Education
        <div class="info">
          My journey into software development started in community college with a painfully slow introduction course into Python. Wanting to challenge myself, I found a Denver local bootcamp called <a href="https://turing.edu/">Turing School of Software & Design</a> and immediately enrolled into their backend program.<br><br>

          Turing is an accredited online school that focuses on establishing developers with a solid, and practical foundation. This includes everything from self-driven learning, communication, developer empathy, and even challenging our biases - as well as the software development space as a whole.
        </div>
      </div>
      <div class="title box-3">
        Developer
        <div class="info">
          A backend engineer, that's looking for his first real step into software development. Early in my career, I was given the opportunity to contract with <a href="https://www.linkedin.com/company/vangst/" target="_blank">Vangst</a> for 3 months, and help migrate their legacy React backend into Ruby on Rails.
        </div>
      </div>
    </div>
  </body>
</html>
